[submodule "fluxCore"]
	path = subrepos/fluxCore
	url = https://github.com/jarrod-dalton/fluxCore.git
[submodule "fluxPrepare"]
	path = subrepos/fluxPrepare
	url = https://github.com/jarrod-dalton/fluxPrepare.git
[submodule "fluxForecast"]
	path = subrepos/fluxForecast
	url = https://github.com/jarrod-dalton/fluxForecast.git
[submodule "fluxValidation"]
	path = subrepos/fluxValidation
	url = https://github.com/jarrod-dalton/fluxValidation.git
[submodule "fluxOrchestrate"]
	path = subrepos/fluxOrchestrate
	url = https://github.com/jarrod-dalton/fluxOrchestrate.git
[submodule "fluxASCVD"]
	path = subrepos/fluxASCVD
	url = https://github.com/jarrod-dalton/fluxASCVD.git
[submodule "fluxModelTemplate"]
	path = subrepos/fluxModelTemplate
	url = https://github.com/jarrod-dalton/fluxModelTemplate.git
